/* Source: https://raw.githubusercontent.com/openai/openai-quickstart-python/master/static/main.css
*/

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.side-framing{
  padding-left: 50px;
  padding-right: 50px;
}

body {
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

h3 {
  color: #6610f2;
}

input {
  font-size: 16px;
  line-height: 24px;
  color: #e926c8;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #0b7258;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #fff;
  opacity: 1;
}
.btn { 
  color: #fff;
  background-color: #10a37f;
}
hr{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
